*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: whitesmoke;
}
nav{
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    height: 80px;
}
nav .logo{
    font-size: 2rem;
    font-weight: bold;
    padding: 0 100px;
    color: orange;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 1.4em;
    font-weight: 600;
}
nav ul li a:hover , .active{
    color: orangered;
}
.add{
    padding: 20px;
}
.add span{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
.addbus{
    padding: 10px;
    display: flex;
}
.addbus .notification{
    background: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 35%;
    height: fit-content;
}
.addbus .notification .head{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
.addbus .notification .head label{
    color: black;
    font-size: 20px;
}
.addbus .notification .head label{
    margin-right: 30px;
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    width: 30px;
    text-align: center;
}
.addbus .notification .in{
    width: 100%;
    padding: 10px;
}
.addbus .notification .in form{
    padding: 10px 15px;
}
.input-box{
    background: rgba(243, 236, 236, 0.699);
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}
.submit-btn{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    background: blue;
    color: white;
    cursor: pointer;
}
.table{
    margin: 0 0 0 20px;
}
.table table{
    border: 1px solid gray;
    text-align: center;
}
.table table tr td{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
}
.table table tbody tr:hover{
    background: rgba(218, 218, 218, 0.705);
}
.table table tbody tr td{
    padding: 10px;
    border-bottom: 1px solid gray;
}
.dlt {
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: red;
}
.edit{
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    background: indigo;
    line-height: 25px;
    border-radius: 50%;
}